div.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
}

div.balances {
    margin-top: 1.5em;
    flex: 1;
}

div.balance {
    border: thin #FFC107 solid;
    border-radius: 4px;
    color: #575757;
    display: grid;
    height: 3em;
    grid-template-columns: 2fr 1fr 1fr;
}

div.balance:not(:last-child) {
    margin-bottom: 1em;
}

div.balance > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.balance > div:nth-child(1) {
    background-color: rgba(255, 193, 7, 0.1);
    padding-left: 1em;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
}

div.balance > div:nth-child(2) {
    background-color: rgba(255, 193, 7, 0.1);
    color: rgba(87,87,87,0.5);
    text-align: center;
    font-size: 12px;
}

div.balance > div:nth-child(3) {
    font-family: Mada;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

div.debt {
    color: #EF5350;
}
div.credit {
    color: #4CAF50;
}
div.debt span::before {
    color: #EF5350;
    content: "-";
}
