nav {
    background-color: white;
    padding: 0;
}

nav a {
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 67px;
    letter-spacing: 2px;
    color: #FFC107;
    width: 100%;
}

.nav-logo a > span:first-child {
    letter-spacing: -4px;
    margin-right: 5px;
}

.nav-logo a > span:nth-child(2) {
    letter-spacing: -4px;
}

div.address {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-container {
    padding: 0;
}
